/venv/
.idea/
*/.idea/
.vscode/

frontend/

*.py[cod]
*$py.class

# General
*.log
*.pdf

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
# *.pyc
venv/
.venv


# JavaScript
node_modules/
build/ # Webpack build output
